body {
    background: #E8C5C5;
    margin-left: 30px;
    margin-right: 200px;
}

header {
    margin-top: 70px;
}

h1 {
    color:red;
    font-family: fantasy;
}

h2 {
    font-family: :fantasy;
}

p {
    font-size: 18px;
}

img {
    margin-bottom: 20px;
    
}